body {
    margin:0;
}
#sidebar{
	/*width: 10em;*/
    width:10%;
	height: 60em;
	background-color: black;
	float:left;
	left:-1em;
}
#sidebar2{
	/*width: 10em;*/
    width:10%;
	height: 60em;
	background-color: black;
	float:right;
}
h1{
	color: white;
	text-align: center;
	margin-top: 1em;
	font-size: 4em;
	line-height: 0.9em;
	font-family: 'helvetica'
}

#placeholder1{
    width:75%;
    margin:0 auto;
    display:block;
}

#next{
	margin-top: 3.3em;
}
.page-wrapper{
    display:flex;
}